{% extends '_templates/base.njk' %}

{% block page_title %}Destinations{% endblock %}

{% block page_description %}A list of destinations for travelers to explore.{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1>Destinations</h1>
        <p>Browse through any of these 10 destinations to read Q+As with college students and recommendations for each travel spot!</p>
      </div>
    </div>
    <div class="row justify-content-center">
      {% for country in destinations.blogs %}
        <div class="col-6 col-md-4 col-lg-2 mb-4">
          <a href="destinations/{{ country.slug }}.html" class="card-link">
            <div class="card" style="width: 100%;">
              <img src="img/{{ country['image-2'] }}" class="card-img-top" alt="map image">
              <div class="card-body">
                <h5 class="card-title" style="overflow: hidden; display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; font-size: 1rem;">
                  {{ country.headline }}
                </h5>
              </div>
            </div>
          </a>
        </div>
        {% if loop.index % 5 == 0 %}
          </div><div class="row justify-content-center">
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endblock %}










